.profile-container {
    padding: 20px;
    background-color: #f8f9fa;
    text-align: right;
    /* Ensures text aligns to the right */
}

.ads-container {
    margin-top: 20px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    max-height: 800px;
    overflow-y: auto;
}

.subscribe-button-profile {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #29b857;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.subscribe-button-profile:hover {
    background-color: #1e9845;
}

.ad-card1 {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

.ad-details {
    flex: 1;
    margin-right: 20px;
    text-align: right;
}

.ad-card1:hover {
    border-color: #ccc;
}

.ad-image-profile {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.ad-title-profile {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.ad-price-profile {
    font-size: 1em;
    font-weight: bold;
    color: #555;
    margin-top: 5px;
}

.ad-crud {
    flex: 1;
    margin-right: 20px;
    text-align: left;
}

.ad-update-button {
    margin: 10px;
    padding: 10px 15px;
    background-color: #29b857;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.ad-update-button:hover {
    background-color: #1e9845;
}

.ad-delete-button {
    margin: 10px;
    padding: 10px 15px;
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.ad-delete-button:hover {
    background-color: #db1811;
}

.ad-renew-button {
    margin: 10px;
    padding: 10px 15px;
    background-color: #6ba2e6;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.ad-renew-button:hover {
    background-color: #4c5ff2;
}

.modal-content-custom {
    text-align: right;
}

.modal-buttons-custom {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

.confirm-delete-button {
    padding: 8px 16px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    background-color: #d9534f;
    color: white;
}

.confirm-delete-button:hover {
    background-color: #db1811;
}

.cancel-button {
    padding: 8px 16px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    background-color: #e8e7e7;
    color: black;
}

.cancel-button:hover{
    background-color: #ccc;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .ad-card1 {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .ad-image-profile {
        width: 100%;
        height: auto;
    }

    .ad-details {
        margin-left: 0;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .ad-image-profile {
        width: 100%;
    }

    .ad-title-profile {
        font-size: 1em;
    }

    .ad-price-profile {
        font-size: 0.9em;
    }
}