.shows-container {
    text-align: center;
    padding: 20px;
    background-color: #fff;
}

.shows-title {
    align-self: center;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.ads-shows-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow-y: auto;
    max-height: 800px;
}

.ad-shows-card {
    width: 80%; 
    max-width: 1000px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ad-shows-card:hover {
    border-color: #ccc;
}

.ad-shows-image {
    width: 100%;
    height: 600px;
    max-height: 600px;
    object-fit: contain;
    border-radius: 10px;
    margin-bottom: 10px;
}

.ad-shows-title {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    text-align: center;
}

.ad-shows-price {
    font-size: 1em;
    font-weight: bold;
    color: #555;
    margin-top: 5px;
    text-align: center;
}

.ad-shows-date-create{
    text-align: center;
    font-size: medium;
    color: #7c7c7c;
}

/* Responsive Adjustments */
@media (max-width: 1024px) {
    .ad-shows-card {
        width: 70%;
        /* Two cards per row on tablets */
    }
}

@media (max-width: 768px) {
    .ad-shows-card {
        width: 80%;
        /* One card per row on mobile */
    }

    .shows-title {
        font-size: 1.5em;
        /* Smaller title on mobile */
    }
}

@media (max-width: 480px) {
    .ad-shows-title {
        font-size: 1em;
        /* Smaller text on very small screens */
    }

    .ad-shows-price {
        font-size: 0.9em;
    }
}