/* General Styles */
.footer-container {
    background-color: #1b1b1b;
    padding: 2rem 1rem;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    direction: rtl;
    align-items: center;
    text-align: center;
    flex-wrap: wrap; 
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    max-width: 300px;
    text-align: center;
}

.footer-section h2 {
    font-size: 1.6rem;
    color: #ffcc00;
    margin-bottom: 0.5rem;
}

.about-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
}

.about-link {
    font-size: 1rem;
    display: flex;
    color: #ffcc00;
    text-decoration: underline;
    transition: color 0.3s;
}

.about-link:hover {
    color: #fff;
}

.footer-logo img {
    max-width: 15rem;
    height: auto;
    margin: 0 auto;
}

.contact .contact-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.contact-link {
    color: #1083f6;
    text-decoration: none;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    text-decoration: underline;
}

.contact-link:hover {
    color: #fff;
}

/* Footer Bottom */
.footer-bottom {
    margin-top: 2rem;
    text-align: center;
    font-size: 1rem;
    color: #aaa;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
        gap: 1.5rem;
    }

    .footer-section {
        max-width: 100%;
    }
}
