.publish-ad-container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.publish-ad-form {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.publish-ad-form label {
    margin: 10px 0 5px;
    font-weight: bold;
}

.publish-ad-form select {
    direction: rtl;
    width: 30%;
    align-self: flex-end;
}

.publish-ad-form input,
.publish-ad-form textarea,
.publish-ad-form select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: right;
    resize: none;
}

.publish-ad-form input.valid-phone {
    border: 2px solid green !important;
}

.publish-ad-form input.invalid-phone {
    border: 2px solid red !important;
}

.publish-button {
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.publish-button:hover {
    background-color: #45a049;
}

.publish-ad-container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.publish-ad-form {
    display: flex;
    flex-direction: column;
}

.publish-ad-form label {
    margin: 10px 0 5px;
    text-align: right;
    /* Align labels to the right */
}

.publish-ad-form input,
.publish-ad-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: right;
    /* Align text inside inputs to the right */
    resize: none;
}

.publish-button {
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.publish-button:hover {
    background-color: #45a049;
}

.modal-content-custom-publishad {
    text-align: right;
}

.modal-buttons-custom-publishad {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

.close-button-publishad {
    padding: 8px 16px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    background-color: #e8e7e7;
    color: black;
}

.close-button-publishad:hover {
    background-color: #ccc;
}

.age-row {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}